* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image:url(background\ image.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
  }

  .page-top {
    color: rgb(66, 179, 109);
    text-align: center;
    font-size: 50px;
  }
  #button{
    padding: 10px;
    font-size: large;
  }
  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 11%;
    display: flex;
    justify-content: center;
  }

  

  